<h1>login</h1>
<table>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>
            <input type="text" [ngModel]="GB.loginInfo.employeeId" (ngModelChange)="GB.loginInfo.employeeId=$event">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" [ngModel]="GB.loginInfo.passwd" (ngModelChange)="GB.loginInfo.passwd=$event">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" [ngModel]="GB.loginInfo.accountsType" (ngModelChange)="GB.loginInfo.accountsType=$event">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" [ngModel]="GB.loginInfo.ittmscode" (ngModelChange)="GB.loginInfo.ittmscode=$event">
        </td>
    </tr>
</table>
<button (click)="submit()">login</button>
