<div id="besttourTalk">
    <!--主選單-->
    <div id="menu" *ngIf="gb.userInfo">
        <div *ngFor="let item of gb.userInfo.btns" class="MenuItem" [ngClass]="item.class" (click)="changeRoomList(item.name)"></div>
    </div>
    <div id="roomsListArea">
        <!--搜尋-->
        <div class="Search">
            <input type='text' placeholder='搜尋聯絡人' #searchInput class='search_Input' (keyup)="onKey($event)" />
            <div class='Search_Btn' (click)="searchRoom()"></div>
        </div>
        <!--聯絡人-->
        <div [ngSwitch]="currentShowList">
            <organizeres *ngSwitchCase="'organizeres'" class="List Scroll"></organizeres>
            <roomList *ngSwitchCase="'searchRooms'" [listType]="'searchRooms'" class="List Scroll"></roomList>
            <grouptree *ngSwitchCase="'project'" class="List Scroll"></grouptree>
            <roomList *ngSwitchCase="'provider'" [listType]="'providerRooms'" class="List Scroll"></roomList>
            <roomList *ngSwitchCase="'history'" [listType]="'historyRooms'" class="List Scroll"></roomList>
        </div>
    </div>
    <!--組織聊天-->
    <!--聊天區-->
    <div id="chatArea">
        <room-tab></room-tab>
        <chat-panel class="Talk" *ngIf="gb.currentRoom"></chat-panel>
    </div>
</div>

